<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.extrotarget.extropos">

    <application>
        <!-- Debug-only activity to quickly open the dashboard during development. -->
        <activity android:name="com.extrotarget.extropos.debug.DebugLauncherActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
